div.wrapper > div.all-menu > div.shortcut {
    width: 100%;
    height: 48px;
    border-bottom: 3px solid rgb(241, 241, 241);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  div.wrapper > div.all-menu > div.shortcut > a {
    text-transform: uppercase;
    font-size: 0.8em;
    font-family: f04;
    font-weight: 600;
    color: rgb(56, 56, 56);
    transition: 300ms;
    margin-left: 5px;
  }
  
  div.wrapper > div.all-menu > div.shortcut > a:hover {
    color: rgb(113, 113, 113);
  }
  
  div.wrapper > div.all-menu > div.shortcut > a.s8{
    display: none;
  }
    
  div.wrapper > div.all-menu > div.shortcut > a.s9{
    display: none;
  }

  div.wrapper > div.all-menu > div.shortcut > a.s10{
    display: none;
  }